<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>Datos de Usuarios
      </div>
      <div class="card-body">
        <jqxGrid
          #myGrid
          [width]="800"
          [source]="dataAdapter"
          [pageable]="true"
          [columns]="columns"
          [sortable]="true"
          (onRowselect)="selectUser($event)"
        >
        </jqxGrid>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="addUserModal()">
      Agregar
    </button>
    <button type="button" class="btn btn-primary" (click)="updateUserModal()">
      Modificar
    </button>

    <!-- <app-user-form [user]="selectedUser" (saveUserForm)="saveUser($event)">
    </app-user-form> -->
  </div>
  <!--/.col-->
</div>
