<jqxButton #btnAdd [width]='120' [height]='40' [template]="'success'" (onClick)="open('Adicionar')"><i class="fa fa-plus"></i> Adicionar</jqxButton>
<jqxButton #btnEdit [width]='120' [height]='40' [template]="'warning'" (onClick)="open('Editar')"><i class="fa fa-pencil"></i> Editar</jqxButton>
<jqxButton #btnReload [width]='120' [height]='40' [template]="'primary'" (onClick)="reload($event)"><i class="fa fa-refresh"></i> Refrescar</jqxButton>
<div class="row">
	<div class="col-sm-12">
		<jqxGrid #migrid class="migrid"
		(onRowselect)="Rowselect($event)"
			[width]="'100%'"
			[source]="dataAdapter"
			[columns]="columns"
			[height]="300"
			[pageable]="true"
			[rendergridrows]="rendergridrows"
			[sortable]="true"
			[showtoolbar]="true"
			[filterable]="true"
			[pagesizeoptions]="['10', '25', '50','100']"
			[columnsresize]="true">
		</jqxGrid>
	</div>
</div>

<div bsModal #myModal="bs-modal" (onHidden)="reset()"class="modal fade" backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{action_text}} Recinto</h4>
				<button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<jqxValidator #myValidator [rules]="rules" [animationDuration]="0" (onValidationError)="invalidValidation()" (onValidationSuccess)="successValidation()" [hintType]="'label'">
				<form [formGroup]="formRec" id="form" (ngSubmit)="checkValidation()" >
					<div class="row">
						<div class="form-group col-sm-12">
							<label for="city">Nombre:</label>
							<jqxInput #inputRecinto class="inInstitucion text-input form-control"></jqxInput>
						</div>
						<div class="form-group col-sm-6">
							<label for="mesa">Latitud°:</label>
							<jqxNumberInput #inputLat class="inLat"
								[promptChar]="''"
								[width]="'100%'"
								[digits]="3"
								[decimalDigits]="6">
							</jqxNumberInput>
						</div>
						<div class="form-group col-sm-6">
							<label for="mesa">Longitud°:</label>
							<jqxNumberInput #inputLong class="inLong"
								[promptChar]="''"
								[width]="'100%'"
								[digits]="3"
								[decimalDigits]="6">
							</jqxNumberInput>
						</div>
						<div class="form-group col-sm-12">
							<label for="postal-code">Municipio de:</label>
							<jqxDropDownList #dropdownMunicipio id="inMun" [filterable]="true" class="inMun" (onChange)="prueba()"
							[width]="'100%'" [height]="30" [source]="sourceMunicipios"  [autoOpen]="false">
						</jqxDropDownList>
						</div><!--/.row-->
						<div class="form-group col-sm-12">
							<label for="postal-code">Localidad de:</label>
							<jqxDropDownList #dropdownLocalidad id="inLocal" [filterable]="true"  class="inLocal" (onChange)="prueba()"
									[width]="'100%'" [height]="30" [source]="sourceLocalidades" [autoOpen]="false">
								</jqxDropDownList>
						</div><!--/.row-->
						<div class="form-group col-sm-8">
							<label for="postal-code">Tipo:</label>
							<jqxDropDownList #dropdownTipo id="inTipo" [checkboxes]="true" class="inTipo" (onCheckChange)="prueba()"
							[width]="'100%'" [height]="30" [source]="sourceTipo" [autoOpen]="false">
							</jqxDropDownList>
						</div><!--/.row-->
						<div class="form-group col-sm-4">
							<label for="mesa">N° Mesa:</label>
							<jqxNumberInput #inputMesa class="inMesa"
							[spinButtons]="true"
								[min]="1" [max]="250"
								[promptChar]="''"
								[width]="'100%'"
								[digits]="3"
								[decimalDigits]="0">
							</jqxNumberInput>
						</div>
						<div class="form-group col-sm-12">
							<button on type="submit" class="btn btn-primary" id="guardar"><i class="fa fa-save"></i> Guardar</button>
						</div>
					</div>
					</form>
				</jqxValidator>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

<div id="notification1"></div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'">
<div>
		Seleccione una fila
</div>
</jqxNotification>
<!-- <ul>
	<li *ngFor="let item of  lista;let i=index">{{i}}.- {{item.institucion}}</li>
</ul> -->
<ng-snotify></ng-snotify>