<div class="modal-body">
  <div class="container-fuild">
    <div class="row">
      <div class="col-4">
        <h5 class="card-title">Recintos</h5>
        <jqxListBox
          #myListBox
          [renderer]="renderer"
          [theme]="'material'"
          [width]="260"
          [height]="420"
          [source]="dataAdapter"
          [displayMember]="'institucion'"
          [valueMember]="'localidad'"
          [filterable]="true"
          [checkboxes]="true"
          [searchMode]="'containsignorecase'"
          (onSelect)="listOnSelect($event)"
        >
        </jqxListBox>
      </div>
      <div class="col-8">
        <mat-card>
          <mat-card-header>
            <h2>Usuario:{{ selectedUser.fullName }}</h2>
          </mat-card-header>
          <mat-card-content
            *ngIf="recintoList && recintoList.size > 0; else elseblock"
          >
            <mat-list>
              <mat-list-item *ngFor="let recinto of recintoList | keyvalue">
                <dt matLine>Recinto: {{ recinto.value.institucion }}</dt>
                <dd matLine>
                  <small>localidad: {{ recinto.value.localidad }}</small>
                </dd>
                <dd matLine>
                  <small>Municipio: {{ recinto.value.municipio }}</small>
                </dd>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="deleteRecinto(recinto.value.index)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <ng-template #elseblock><h2>Sin Lista de Recintos</h2></ng-template>
        </mat-card>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="savedata()">
            Aceptar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="modalRef.hide()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
