<div class="row">
	<div class="col-sm-5">
	<jqxButton #btnAdd class="col-sm-4" [height]='40' [template]="'success'" (onClick)="open('Adicionar')"><i class="fa fa-plus"></i> Adicionar</jqxButton>
	<jqxButton #btnEdit class="col-sm-4" [height]='40' [template]="'warning'" (onClick)="open('Editar')"><i class="fa fa-pencil"></i> Editar</jqxButton>
	<jqxButton #btnReload class="col-sm-3" [height]='40' [template]="'primary'" (onClick)="reload($event)"><i class="fa fa-refresh"></i> Refrescar</jqxButton>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<jqxGrid #migrid
		(onRowselect)="Rowselect($event)"
			[width]="'100%'"
			[source]="dataAdapter"
			[columns]="columns"
			[height]="300"
			[pageable]="true"
			[rendergridrows]="rendergridrows"
			[sortable]="true"
			[filterable]="true"
			[columnsresize]="true">
		</jqxGrid>
	</div>
	<div class="col-sm-4">
		<jqxGrid #gridProv
			[width]="'100%'"
			[source]="dataAdapterProv"
			[columns]="columns2"
			[height]="300"
			[rendergridrows]="rendergridrows"
			[sortable]="true"
			[columnsresize]="true">
		</jqxGrid>
	</div>
</div>
<div bsModal #myModal="bs-modal" class="modal fade" (onHidden)="resetForm()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{action_text}} Circunscripcion</h4>
				<button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<jqxValidator #myValidator [rules]="rules" [animationDuration]="0" (onValidationError)="invalidValidation()" (onValidationSuccess)="successValidation()" [hintType]="'label'">
					<form [formGroup]="formCir" (ngSubmit)="checkValidation()">
						<div class="row">
							<div class="form-group col-sm-12  ">
								<label for="city">Nombre:</label>
								<jqxInput #inputNombre class="inInstitucion text-input form-control"></jqxInput>
							</div>
							<div class="form-group col-sm-12">
								<label for="postal-code">Departamento:</label>
								<jqxDropDownList #dropDep [filterable]="true" class="inDep" (onChange)="prueba()"a
										[width]="'100%'" [height]="30" [source]="sourceDep" [autoOpen]="false">
								</jqxDropDownList>
							</div><!--/.row-->
							<div class="form-group col-sm-12">
								<label for="postal-code">Provincias:</label>
								<jqxDropDownList #myDropDownList2 [filterable]="true" (onChange)="prueba()" [checkboxes]="true" class="inProv"
										[width]="'100%'" [height]="30" [autoOpen]="false">
								</jqxDropDownList>
							</div><!--/.row-->
							<div class="form-group col-sm-12">
								<button type="submit" class="btn btn-primary" id="guardar"><i class="fa fa-save"></i>Guardar</button>
							</div>
						</div>
					</form>
				</jqxValidator>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>



<ng-snotify></ng-snotify>