<div class="row">
  
    <div class="col-sm-2">
        <div class="form-group">
            <label for="name">Circunscripcion:</label>
            <jqxDropDownList #dropCir [filterable]="true" (onChange)="cirCambiando($event)" 
            [width]="'100%'" [height]="30"  [selectedIndex]="1" [autoOpen]="false">
        </jqxDropDownList>
        </div>
    </div>
    <div class="col-sm-2">
    <div class="form-group">
        <label for="name">Provincia:</label>
        <jqxDropDownList #dropProv [filterable]="true" (onChange)="provCambiando($event)"
        [width]="'100%'" [height]="30" [disabled]="true" [autoOpen]="false">
        </jqxDropDownList>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="name">Municipio:</label>
        <jqxDropDownList #dropMun [filterable]="true"[disabled]="true"
        [width]="'100%'" [height]="30" [selectedIndex]="1" [autoOpen]="false">
        </jqxDropDownList>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="name">OFF:</label>
        <jqxSwitchButton [width]="'50%'" ></jqxSwitchButton>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="name">Buscar:</label>
        <input type="text" class="form-control">
      </div>
    </div>
  
</div>
<div class="row">
	<div class="col-sm-12">
		<jqxGrid #migrid
		(onRowselect)="Rowselect($event)"
			[width]="'100%'"
			[source]="dataAdapter"
			[columns]="columns"
			[height]="300"
			[pageable]="true"
			[rendergridrows]="rendergridrows"
			[sortable]="true"
			[showtoolbar]="true"
			[filterable]="true"
			[columnsresize]="true">
		</jqxGrid>
	</div>
</div>


<div id="notification1"></div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'">
<div>
    Seleccione una fila
</div>
</jqxNotification>