<!-- <button type="button" class="btn btn-sm btn-primary" >    <i class="fa fa-plus"></i> Add</button>
<button type="button" class="btn btn-sm btn-primary" >    <i class="fa fa-pencil"></i> Edit</button> -->
<div class="row">
  <div class="col-sm-8">
    <jqxGrid #migrid
    (onRowselect)="Rowselect($event)"
      [width]="'100%'"
      [source]="dataAdapter"
      [columns]="columns"
      [height]="300"
      [pageable]="true"
      [rendergridrows]="rendergridrows"
      [sortable]="true"
      [showtoolbar]="true"
      [rendertoolbar]="createButtonsContainers"
      [filterable]="true"
      [columnsresize]="true">
    </jqxGrid>
  </div>




<div bsModal #myModal="bs-modal" class="modal fade" (onHidden)="reset()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{action_text}} Departamento</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <jqxValidator #myValidator [rules]="rules" [animationDuration]="0" (onValidationError)="invalidValidation()" (onValidationSuccess)="successValidation()" [hintType]="'label'">
            <form [formGroup]="formDep" (ngSubmit)="checkValidation()">
              <div class="row">
                <div class="form-group col-sm-12  ">
                  <label for="city">Nombre:</label>
                  <jqxInput #inputNombre class="inNombre text-input form-control"></jqxInput>
                </div>
                <div class="form-group col-sm-12">
                  <button type="submit" class="btn btn-primary" id="guardar">Guardar</button>
                </div>
              </div>
            </form>
        </jqxValidator>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div id="notification1"></div>

<ng-snotify></ng-snotify>
