// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
@import "~ng-snotify/styles/dark";
// @import "angular-archwizard/archwizard.css";
/* Mandatory */
@import "~ng-wizard/themes/ng_wizard.min.css";

/* Optional */
/* If a theme other than default is used, the css file for that theme is required. */
@import "~ng-wizard/themes/ng_wizard_theme_arrows.min.css";
@import "~ng-wizard/themes/ng_wizard_theme_circles.min.css";
@import "~ng-wizard/themes/ng_wizard_theme_dots.min.css";
@import "file.css";

@import "../assets/highcharts.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
  height: 100vh;
}
